webserv
*.o
*.d

www/cgi-bin/__pycache__/
www/upload/
 
conf/generated/

# Test framework
.clj-kondo/
.cpcache/
.lsp/
conjure-log-*
./webserv-tests/upload/*
webserv-tests/upload/timeout_body_probe.txt
webserv-tests/upload/upload_big_probe.txt
webserv-tests/upload/upload_small_probe.txt

compile_flags.txt

