body {
  background: #282828
}

header > .title {
	background: #504945;
	display: flex;
	height: 120px;
	align-items: center;
	justify-content: left;
	font: bold calc(1em + 2 * (100vs - 120px) / 100) "gf_Space_Mono variant0";
	color: #b8bb26;
}

header > h1 {
	margin-bottom: 0;
  padding-left: 20px;
}

body .container {
  padding: 20px;
	font: bold 12 "gf_Space_Mono variant0";
  color: #ebdbb2;
}

.container > iframe {
  background: #ebdbb2;
  display: flex;
  width: 100%;
  height: 520px;
  align-itmes: center;
}
